@model StokWeb.Models.Entitiy.StokGirisCikis


@{
    ViewBag.Title = "StokGirisCikisEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<h2>Ürün Çıkış Ekranı</h2>

<form method="post">
    <div class="form-group">
        <label for="StokKod">Stok Kodu</label>
        <input type="text" name="StokKod" required class="form-control" id="StokKod" placeholder="Stok Kodu">
    </div>
    <div class="form-group">
        <label for="StokAd">Stok Adı</label>
        <input type="text" name="StokAd" required class="form-control" id="StokAd" placeholder="Stok Adı">
    </div>
    <div class="form-group">
        <label for="Açıklama">Açıklama</label>
        <input type="text" name="Aciklama" required class="form-control" id="Aciklama" placeholder="Açıklama">
    </div>
    <div class="form-group">
        <label for="Tarih">Tarih</label>
        <input required type="date" name="Tarih" class="form-control" id="Tarih" >
    </div>
    <div class="form-group">
        <label for="Adet">Adet</label>
        <input type="number" required name="Adet" class="form-control" id="Adet" placeholder="Adet">
    </div>
    <div class="form-group">
        <label for="Sicil">Sicil</label>
        <input type="text" required name="Sicil" class="form-control" id="Sicil" placeholder="Sicil">
    </div>
    <button type="submit" class="btn btn-primary">Ürün Çıkışı Yap</button>
</form>