
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Lütfen İşlem Yapacağınız Fabrikayı Seçin</h2>

<button type="button" class="btn btn-primary btn-lg">3. Organize</button>
<button type="button" class="btn btn-secondary btn-lg">5. Organize</button>